html, body {
	margin: 0px;
	padding: 0px;
	background-color: #000000;
	font-family: 'Trebuchet MS', arial, helvetica, sans-serif;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}


/*background image  */


#main {
	position: absolute;
	top:0px;
	z-index:2;
	background-color:transparent;
	min-width:800px;
	height:100%;
	overflow:hidden;
}

object {
	outline:none;

	background-color:transparent;
}
#flashcontent {

	width:100%;
	height:100%;
	background-color:transparent;
}








/* Sprint Header*/

#nav_cont {
z-index: 200;
	
}

#top_nav
{
	visibility:hidden;
	position:relative;
	margin:0px auto;
	width:961px;
	z-index: 200;
}

